> Ask a home buyer to describe their dream house, and they probably won't begin with the height of the basement ceiling or the proximity to an east-west railroad. But this playground competition's dataset proves that much more influences price negotiations than the number of bedrooms or a white-picket fence.

> With 79 explanatory variables describing (almost) every aspect of residential homes in Ames, Iowa, this competition challenges you to predict the final price of each home.

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
path = %pwd
path

'/home/lao/notebook/HousePrices'

In [4]:
housing_data = pd.read_csv(path + '/train.csv')

In [5]:
housing_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

Evaluation: Log of the rmse

In [ ]:
housing_data['SalePrice'] =

In [6]:
housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [7]:
housing_data.shape

(1460, 81)

In [8]:
housing_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [7]:
numeric_col = housing_data.describe().columns[2:-2]
numeric_col

Index(['LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt',
       'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF',
       'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea',
       'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr',
       'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt',
       'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold'],
      dtype='object')

In [8]:
from sklearn.base import BaseEstimator, TransformerMixin

class DataFrameSelector(BaseEstimator, TransformerMixin):
    """Creates a class to select columns required for pipeline"""
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self,X):
        return X[self.attribute_names].values

In [9]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Imputer

numeric_attributes = list(numeric_col)

num_pipeline = Pipeline([
    ('selector', DataFrameSelector(numeric_attributes)),
    ('imputer', Imputer(strategy="median")),
    ('std_scaler', StandardScaler())
])

/home/lao/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [10]:
num_pipeline.fit(housing_data)

Pipeline(memory=None,
     steps=[('selector', DataFrameSelector(attribute_names=['LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'Full...egy='median', verbose=0)), ('std_scaler', StandardScaler(copy=True, with_mean=True, with_std=True))])

In [13]:
housing_prepared = num_pipeline.transform(housing_data)

In [14]:
housing_labels = housing_data['SalePrice'].copy()

In [15]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

from sklearn.ensemble import RandomForestRegressor
forest_reg = RandomForestRegressor(random_state = 42)

In [156]:
param_grid = [ 
    {'n_estimators' : [3, 5, 7, 8, 10, 20, 30, 50], 'max_features': [2, 4, 6, 8, 10, 13, 15]},
    {'bootstrap': [False], 'n_estimators' : [3, 5, 7, 8, 10, 20, 30, 50], 'max_features':[2, 4, 6, 8, 10, 13, 15] },
    
]

grid_search = GridSearchCV(forest_reg, param_grid, cv = 10, scoring = 'neg_mean_squared_error')

grid_search.fit(housing_prepared, housing_labels)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid=[{'n_estimators': [3, 5, 7, 8, 10, 20, 30, 50], 'max_features': [2, 4, 6, 8, 10, 13, 15]}, {'bootstrap': [False], 'n_estimators': [3, 5, 7, 8, 10, 20, 30, 50], 'max_features': [2, 4, 6, 8, 10, 13, 15]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_squared_error', verbose=0)

In [157]:
grid_search.best_params_

{'bootstrap': False, 'max_features': 6, 'n_estimators': 50}

In [158]:
cvres = grid_search.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

39420.55559074612 {'max_features': 2, 'n_estimators': 3}
37346.13825677955 {'max_features': 2, 'n_estimators': 5}
35087.73473870677 {'max_features': 2, 'n_estimators': 7}
34625.412507553876 {'max_features': 2, 'n_estimators': 8}
33155.82298966328 {'max_features': 2, 'n_estimators': 10}
32739.707501205725 {'max_features': 2, 'n_estimators': 20}
31635.582582373932 {'max_features': 2, 'n_estimators': 30}
31283.9146133792 {'max_features': 2, 'n_estimators': 50}
38316.020645808996 {'max_features': 4, 'n_estimators': 3}
34602.65028089453 {'max_features': 4, 'n_estimators': 5}
32722.49291437569 {'max_features': 4, 'n_estimators': 7}
32693.03644488534 {'max_features': 4, 'n_estimators': 8}
32071.279546695263 {'max_features': 4, 'n_estimators': 10}
30645.99657480408 {'max_features': 4, 'n_estimators': 20}
30112.245548363437 {'max_features': 4, 'n_estimators': 30}
30101.148932240103 {'max_features': 4, 'n_estimators': 50}
34896.859049070816 {'max_features': 6, 'n_estimators': 3}
32665.854836061313 {'max_features': 6, 'n_estimators': 5}
32351.149228796723 {'max_features': 6, 'n_estimators': 7}
31492.633247671525 {'max_features': 6, 'n_estimators': 8}
31348.156995293386 {'max_features': 6, 'n_estimators': 10}
30648.578460675344 {'max_features': 6, 'n_estimators': 20}
30683.00249134985 {'max_features': 6, 'n_estimators': 30}
30292.80864228136 {'max_features': 6, 'n_estimators': 50}
35522.30848231017 {'max_features': 8, 'n_estimators': 3}
32849.12794425572 {'max_features': 8, 'n_estimators': 5}
32442.560632642697 {'max_features': 8, 'n_estimators': 7}
32161.268792635517 {'max_features': 8, 'n_estimators': 8}
31955.4232729823 {'max_features': 8, 'n_estimators': 10}
30320.662968017947 {'max_features': 8, 'n_estimators': 20}
30195.23814765804 {'max_features': 8, 'n_estimators': 30}
29783.694278964944 {'max_features': 8, 'n_estimators': 50}
35544.87356121877 {'max_features': 10, 'n_estimators': 3}
32477.973726751094 {'max_features': 10, 'n_estimators': 5}
32157.57544806926 {'max_features': 10, 'n_estimators': 7}
31775.183957915233 {'max_features': 10, 'n_estimators': 8}
31435.705028785476 {'max_features': 10, 'n_estimators': 10}
30241.5200385278 {'max_features': 10, 'n_estimators': 20}
29296.112048599778 {'max_features': 10, 'n_estimators': 30}
29041.758192450714 {'max_features': 10, 'n_estimators': 50}
34944.69245414697 {'max_features': 13, 'n_estimators': 3}
32773.56043316934 {'max_features': 13, 'n_estimators': 5}
32488.99893012754 {'max_features': 13, 'n_estimators': 7}
31904.783435968013 {'max_features': 13, 'n_estimators': 8}
31229.298545924612 {'max_features': 13, 'n_estimators': 10}
30693.68459030078 {'max_features': 13, 'n_estimators': 20}
30358.071090163412 {'max_features': 13, 'n_estimators': 30}
30009.602848152594 {'max_features': 13, 'n_estimators': 50}
37818.26566383191 {'max_features': 15, 'n_estimators': 3}
34358.421953850695 {'max_features': 15, 'n_estimators': 5}
33259.53895232829 {'max_features': 15, 'n_estimators': 7}
32442.446373268882 {'max_features': 15, 'n_estimators': 8}
31793.493924738006 {'max_features': 15, 'n_estimators': 10}
30374.38177934739 {'max_features': 15, 'n_estimators': 20}
29959.66119765299 {'max_features': 15, 'n_estimators': 30}
29481.86603733605 {'max_features': 15, 'n_estimators': 50}
36569.94359048304 {'bootstrap': False, 'max_features': 2, 'n_estimators': 3}
34297.8036560724 {'bootstrap': False, 'max_features': 2, 'n_estimators': 5}
33983.44546961837 {'bootstrap': False, 'max_features': 2, 'n_estimators': 7}
33964.54825993755 {'bootstrap': False, 'max_features': 2, 'n_estimators': 8}
32378.051814858645 {'bootstrap': False, 'max_features': 2, 'n_estimators': 10}
31202.324865896477 {'bootstrap': False, 'max_features': 2, 'n_estimators': 20}
30262.150292636477 {'bootstrap': False, 'max_features': 2, 'n_estimators': 30}
30136.125462601944 {'bootstrap': False, 'max_features': 2, 'n_estimators': 50}
36488.764056957836 {'bootstrap': False, 'max_features': 4, 'n_estimators': 3}
33719.35611908129 {'bootstrap': False, 'max_features': 4, 'n_estimators': 5}
32154.12613893518 {'bootstrap': False, 'max_features': 4, 'n_estimators': 7}
31392.618519381664 {'bootstrap': False, 'max_features': 4, 'n_estimators': 8}
31317.877758961033 {'bootstrap': False, 'max_features': 4, 'n_estimators': 10}
29787.482927717818 {'bootstrap': False, 'max_features': 4, 'n_estimators': 20}
29092.642239888282 {'bootstrap': False, 'max_features': 4, 'n_estimators': 30}
29058.11677856918 {'bootstrap': False, 'max_features': 4, 'n_estimators': 50}
34659.94272931055 {'bootstrap': False, 'max_features': 6, 'n_estimators': 3}
33001.18071665075 {'bootstrap': False, 'max_features': 6, 'n_estimators': 5}
31522.52513793576 {'bootstrap': False, 'max_features': 6, 'n_estimators': 7}
31020.85637576933 {'bootstrap': False, 'max_features': 6, 'n_estimators': 8}
30772.428875212525 {'bootstrap': False, 'max_features': 6, 'n_estimators': 10}
29128.335273580014 {'bootstrap': False, 'max_features': 6, 'n_estimators': 20}
28890.414002252943 {'bootstrap': False, 'max_features': 6, 'n_estimators': 30}
28550.185953150663 {'bootstrap': False, 'max_features': 6, 'n_estimators': 50}
34475.614458764336 {'bootstrap': False, 'max_features': 8, 'n_estimators': 3}
31479.620880575094 {'bootstrap': False, 'max_features': 8, 'n_estimators': 5}
30605.268070820595 {'bootstrap': False, 'max_features': 8, 'n_estimators': 7}
30401.132060044692 {'bootstrap': False, 'max_features': 8, 'n_estimators': 8}
30419.987882519 {'bootstrap': False, 'max_features': 8, 'n_estimators': 10}
29649.680913175067 {'bootstrap': False, 'max_features': 8, 'n_estimators': 20}
29569.470064990757 {'bootstrap': False, 'max_features': 8, 'n_estimators': 30}
29125.967203521905 {'bootstrap': False, 'max_features': 8, 'n_estimators': 50}
33626.5625271792 {'bootstrap': False, 'max_features': 10, 'n_estimators': 3}
32284.007126804467 {'bootstrap': False, 'max_features': 10, 'n_estimators': 5}
31382.233990448625 {'bootstrap': False, 'max_features': 10, 'n_estimators': 7}
31319.792832825482 {'bootstrap': False, 'max_features': 10, 'n_estimators': 8}
31600.403728008878 {'bootstrap': False, 'max_features': 10, 'n_estimators': 10}
29622.618750809805 {'bootstrap': False, 'max_features': 10, 'n_estimators': 20}
29129.023441462145 {'bootstrap': False, 'max_features': 10, 'n_estimators': 30}
28783.811335830556 {'bootstrap': False, 'max_features': 10, 'n_estimators': 50}
35928.4857123473 {'bootstrap': False, 'max_features': 13, 'n_estimators': 3}
33441.21694185637 {'bootstrap': False, 'max_features': 13, 'n_estimators': 5}
32724.288692787868 {'bootstrap': False, 'max_features': 13, 'n_estimators': 7}
32674.148664840686 {'bootstrap': False, 'max_features': 13, 'n_estimators': 8}
31799.772006338713 {'bootstrap': False, 'max_features': 13, 'n_estimators': 10}
30387.75913955156 {'bootstrap': False, 'max_features': 13, 'n_estimators': 20}
29779.7595555939 {'bootstrap': False, 'max_features': 13, 'n_estimators': 30}
29872.321133158035 {'bootstrap': False, 'max_features': 13, 'n_estimators': 50}
34302.29675994571 {'bootstrap': False, 'max_features': 15, 'n_estimators': 3}
32806.69186674723 {'bootstrap': False, 'max_features': 15, 'n_estimators': 5}
32193.723095882586 {'bootstrap': False, 'max_features': 15, 'n_estimators': 7}
31425.808676683715 {'bootstrap': False, 'max_features': 15, 'n_estimators': 8}
30754.488119467915 {'bootstrap': False, 'max_features': 15, 'n_estimators': 10}
30080.89238022001 {'bootstrap': False, 'max_features': 15, 'n_estimators': 20}
29955.7264260346 {'bootstrap': False, 'max_features': 15, 'n_estimators': 30}
29603.62926550748 {'bootstrap': False, 'max_features': 15, 'n_estimators': 50}

In [122]:
param_grid = {'n_estimators' : list(range(3, 50)), 'max_features': list(range(2,30)), 'bootstrap': [True, False]}

grid_search = RandomizedSearchCV(forest_reg, param_grid, cv = 10, n_iter = 50, scoring = 'neg_mean_squared_error')

grid_search.fit(housing_scaled, housing_labels)

SyntaxError: invalid syntax (<ipython-input-122-3c2cf6ad393b>, line 1)

In [123]:
grid_search.best_params_

{'bootstrap': False, 'max_features': 8, 'n_estimators': 34}

In [124]:
cvres = grid_search.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

28746.182953024036 {'n_estimators': 34, 'max_features': 8, 'bootstrap': False}

In [16]:
test_data = pd.read_csv(path + '/test.csv')

In [17]:
test_id = test_data["Id"]
test_prepared = num_pipeline.transform(test_data)

In [19]:
forest_reg = RandomForestRegressor(random_state = 42, bootstrap = False, max_features = 6, n_estimators = 50 )

In [20]:
forest_reg.fit(housing_prepared, housing_labels)

RandomForestRegressor(bootstrap=False, criterion='mse', max_depth=None,
           max_features=6, max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=50, n_jobs=None, oob_score=False, random_state=42,
           verbose=0, warm_start=False)

In [21]:
test_label = forest_reg.predict(test_prepared)

In [22]:
test_label

array([127137.  , 154460.  , 182192.  , ..., 180304.4 , 108634.  ,
       238726.14])

In [23]:
data = {'Id': test_id,
'SalePrice': test_label
       }

frame = pd.DataFrame(data)

In [24]:
frame.head()

     Id  SalePrice
0  1461   127137.0
1  1462   154460.0
2  1463   182192.0
3  1464   186592.0
4  1465   188249.0

In [25]:
frame.to_csv('submission.csv', index = False)

In [26]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 2 columns):
Id           1459 non-null int64
SalePrice    1459 non-null float64
dtypes: float64(1), int64(1)
memory usage: 22.9 KB